@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
    height:100px;
}
nav ul {
  list-style: none;
  display: flex;

 

}
nav li {
  margin-right: 1rem;
}
nav ul li a {
    text-decoration-line:none;
    text-transform: uppercase; 
    color: #393b45;
}
nav h1 {
  color: #39e991;
  margin-bottom: 0.5rem;
}

 

 

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
  }
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem auto;
    height: 15rem;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
  }
  .card--avatar {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .card--title {
    color: #222;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  .card--link {
    text-decoration: none;
    background: #db4938;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 20px;
  }

  .title {
    position: relative;
    z-index: 1;
    font-size: 4em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .homeButton {
    position: relative;
    z-index: 1;
    font-size: 2.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 220px;
    height: 80px;
    background-color: black;
    border-radius: 15%;
    color: black;
  }

  .homeButton:active {
    background-color: color-mix(in srgb,burlywood, black 10%);
    color: lightgray;
    transform: scale(1.02);
  }

  .settings {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 5%;
    border: none;
  }

  .settings:active {
    transform: scale(1.05);
  }

  .signIn {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 5%;
    border: none;
  }

  .signIn:active {
    transform: scale(1.05);
  }

  .namePage {
    background-color: lightgreen;
    position: fixed;
    z-index: 1;
    height: 300px;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
  }

  .blocker {
    position: relative;
    background-color:black;
    opacity: 0.4;
    position: fixed;
    height: 1000px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .xButton {
    width: 60px;
    height: 60px;
    float: right;
    border: none;
    margin-right: 2%;
    margin-top: -17%;
    filter: invert(0);
    background-color: green;
  }

  .xButton:active {
    transform: scale(1.05);
  }

  .xImage {
    width: 60px;
    height: 60px;
  }

  .nameText {
    margin-top: 3%;
    font-size: 28px;
    text-decoration-line: underline;
  }

  .username {
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    width: 200px;
    height: 50px;
  }

  .changeButton {
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 180px;
    height: 50px;
    background-color: burlywood;
    border-radius: 15%;
    color: black;
  }

  .changeButton:active {
    background-color: color-mix(in srgb,burlywood, black 10%);
    color: lightgray;
    transform: scale(1.02);
  }

  .backButton {
    width: 67px;
    height: 60px;
    left: 3%;
    top: 1.5%;
    border: none;
    position: absolute;
  }

  .backButton:active {
    transform: scale(1.05);
  }

  .scoreText {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    position: relative;
  }

  .bestGames {
    font-size: 32px;
    text-decoration-line: underline;
  }

  .otherPage {
    display: none;
  }

  .tiltText {
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    width: 160px;
    margin-left: 5px;
  }

  .tutorialImage {
    width: 200px;
    height: 200px;
    position: absolute;
    border-style: solid;
    border-radius: 3em;
    border-color: black;
    top: 60px;
    right: 10px;
    background: white;
  }

  .ballCoulor {
    width: 40px;
    height: 35px;
  }

  .themeButton {
    width: 80px;
    height: 10px;
    border: none;
  }

  .settingsButton {
    width: 120px;
    height: 55px;
    font-size: 1.9em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: burlywood;
    border-radius: 15%;
    color: black;
  }

  .pause {
    position: fixed;
    width: 55px;
    height: 65px;
    top: 10px;
    right: 10px;
    border: none;
  }

  .pause:active {
    transform: scale(1.05);
    top: 4.5px;
    right: 4.5px;
  }

  .scoreDisplay {
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 31px;
    position: fixed;
    background-color: transparent;
  }

  .graphics {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
  }

  .calibration {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 37%;
    width: 100px;
    height: 35px;
    background-color: black;
    color: white;
    padding-top: 6px;
    display: none;
  }